# Build artifacts
Makefile.target
setup
results
wsn/*/build
wsn/common/crypto/static-keys.c
*.pem
*.zoul

# Project Editing
*.sublime-project
*.sublime-workspace

# Application-specific temporary files and directories
__pycache__
tilescache
*.pickle
*.pcap

common/configuration.py
