from common.stereotype_tags import StereotypeTags, DeviceClass
from common.configuration_common import Device, DeviceKind, root_ipv6_addr
from tools.keygen.util import eui64_to_ipv6

devices = [
    Device("iris1",  "683867147", "f4:ce:36:d7:43:96:31:62", DeviceKind.NRF52840),
    Device("iris3",  "683405900", "f4:ce:36:46:7f:b7:ca:c7", DeviceKind.NRF52840),
    Device("iris5",  "683883730", "f4:ce:36:fe:6c:65:c7:73", DeviceKind.NRF52840),
    Device("iris6",  "683113778", "f4:ce:36:92:2e:36:98:20", DeviceKind.NRF52840),
    Device("iris7",  "683849822", "f4:ce:36:d2:fc:ba:75:a2", DeviceKind.NRF52840),
    Device("iris9",  "683835663", "f4:ce:36:f9:79:87:a4:4a", DeviceKind.NRF52840),
    Device("iris10", "683836538", "f4:ce:36:b2:9c:b5:9a:de", DeviceKind.NRF52840),
]

root_node = "iris1"

hostname_to_ips = {
    device.hostname: root_ipv6_addr if device.hostname == root_node else eui64_to_ipv6(device.eui64)
    for device
    in devices
}

device_stereotypes = {
    "iris1":  StereotypeTags(device_class=DeviceClass.SERVER),         # Root
    "iris3":  StereotypeTags(device_class=DeviceClass.RASPBERRY_PI),   # Edge
    "iris5":  StereotypeTags(device_class=DeviceClass.IOT_MEDIUM),     # IoT
    "iris6":  StereotypeTags(device_class=DeviceClass.IOT_MEDIUM),     # IoT
    "iris7":  StereotypeTags(device_class=DeviceClass.IOT_MEDIUM),     # IoT
    "iris9":  StereotypeTags(device_class=DeviceClass.IOT_MEDIUM),     # IoT
    "iris10": StereotypeTags(device_class=DeviceClass.RASPBERRY_PI),   # Edge
}

hostname_to_names = {
    "iris1": "root",
    "iris3": "rr3",
    "iris5": "wsn5",
    "iris6": "wsn6",
    "iris7": "wsn7",
    "iris9": "wsn9",
    "iris10": "rr10",
}
