#include "contiki.h"
#include "sys/log.h"
/*-------------------------------------------------------------------------------------------------------------------*/
#define LOG_MODULE "attack-tem"
#define LOG_LEVEL LOG_LEVEL_DBG
/*-------------------------------------------------------------------------------------------------------------------*/
PROCESS(template, "template");
/*-------------------------------------------------------------------------------------------------------------------*/
PROCESS_THREAD(template, ev, data)
{
    PROCESS_BEGIN();

    LOG_INFO("Starting %s\n", PROCESS_NAME_STRING(PROCESS_CURRENT()));

    PROCESS_END();
}
/*-------------------------------------------------------------------------------------------------------------------*/
